<a href="https://colab.research.google.com/github/MBSant/Python/blob/main/Projeto_Satisfa%C3%A7%C3%A3o_do_Consumidor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Projeto de an√°lise da satisfa√ß√£o do consumidor 
###Desenvolvido no grupo **Mulheres em Dados** pela Prof¬™. **Andressa Apio**

‚õ≥ O objetivo deste projeto √© fazer uma an√°lise das vari√°veis que influenciam na satisfa√ß√£o do consumidor ante os dados de um E-commerce.

üåê Os dados foram retirados do site da Kaggle:  https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce

Colunas da tabela:
1. **order_status**: status do pedido (entregue ou cancelado) (delivered or canceled).

2. **order_purchase_timestamp**: timestamp (data/hora) da compra de cada item.

3. **order_delivered_customer_date**: data real de entrega do pedido do cliente.

4. **order_estimated_delievy_date**: data de entrega estimada que foi fornecida ao cliente no momento da compra.

5. **shipping_limit_date**: data limite de envio do vendedor para a transfer√™ncia do pedido ao parceiro log√≠stico.

6. **payment_sequential**: m√©todo de pagamento utilizado pelo consumidor.

7. **payment_type**: m√©todo de pagamento preferido do cliente.

8. **payment_installments**: n√∫mero de parcelas de pagamento preferido do cliente.

9. **payment_value**: valor da transa√ß√£o.

10. **price**: custo de cada item.

11. **freight_value**: custo de transporte para cada item (se um pedido tiver mais de um item, o valor do frete √© dividido entre os itens).

12. **product_category**: categoria de cada item.

13. **product_name_length**: n√∫mero de caracteres extra√≠dos do nome do produto.

14. **product_description_length**: n√∫mero de caracteres extra√≠dos da descri√ß√£o do produto.

15. **product_photos_qty**: n√∫mero de fotos de produtos que foram publicadas.

16. **review_score**: classifica√ß√£o dada por um cliente em uma pesquisa de satisfa√ß√£o que varia de 1 a 5.

In [1]:
# Importando algumas bibliotecas:
# Pandas
import pandas as pd #Importando e j√° atribuindo um apelido.

# Matplotlib.pyplot
import matplotlib.pyplot as plt

# Seaborn
import seaborn as sns

# Carregando os dados
## Importa√ß√£o de tabela por tabela.

In [2]:
# defini√ß√£o do caminho dos arquivos para ler os dados
diretorio = 'https://raw.githubusercontent.com/andressaapio/pythontutorials/main/data/olist/'

In [3]:
#Comando para carregar o dataset com informa√ß√µes sobre os PEDIDOS, especificando o formato como csv: pd.read_csv().
orders = pd.read_csv(diretorio + 'olist_orders_dataset.csv')

#Comando para mostrar as 5 primeiras linhas da tabela Pedidos: .head().
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [4]:
#Comando para carregar o dataset com informa√ß√µes sobre as AVALIA√á√ïES, especificando o formato como csv: pd.read_csv().
order_reviews = pd.read_csv(diretorio + 'olist_order_reviews_dataset.csv')

# Comando para mostrar os 5 primeiros dados(linhas) da tabela de Avalia√ß√£o dos Pedidos.
order_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parab√©ns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [5]:
#Comando para carregar o dataset com informa√ß√µes sobre PAGAMENTO especificando o formato como csv: pd.read_csv().
order_payments = pd.read_csv(diretorio + 'olist_order_payments_dataset.csv')

#Comando para mostrar os 5 primeiros dados(linhas) da tabela de Pagamentos: .head().
order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [6]:
#Comando para carregar o dataset com informa√ß√µes sobre os CONSUMIDORES especificando o formato como csv: pd.read_csv().
customer = pd.read_csv(diretorio + 'olist_customers_dataset.csv')

#Comando para mostrar os 10 primeiros dados(linhas) da tabela Consumidores: .head(10).
customer.head(10)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
5,879864dab9bc3047522c92c82e1212b8,4c93744516667ad3b8f1fb645a3116a4,89254,jaragua do sul,SC
6,fd826e7cf63160e536e0908c76c3f441,addec96d2e059c80c30fe6871d30d177,4534,sao paulo,SP
7,5e274e7a0c3809e14aba7ad5aae0d407,57b2a98a409812fe9618067b6b8ebe4f,35182,timoteo,MG
8,5adf08e34b2e993982a47070956c5c65,1175e95fb47ddff9de6b2b06188f7e0d,81560,curitiba,PR
9,4b7139f34592b3a31687243a302fa75b,9afe194fb833f79e300e37e580171f22,30575,belo horizonte,MG

In [7]:
#Comando para carregar o dataset com informa√ß√µes sobre os PEDIDOS especificando o formato como csv: pd.read_csv().
order_items = pd.read_csv(diretorio + 'olist_order_items_dataset.csv')

# Comando para mostrar os 3 primeiros dados(linhas) da tabela Pedidos, .head(3).
order_items.head(3)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.0,17.87

In [8]:
#Comando para carregar o dataset com informa√ß√µes sobre os PRODUTOS especificando o formato como csv: pd.read_csv().
products = pd.read_csv(diretorio + 'olist_products_dataset.csv')

#Comando para mostrar os 6 primeiros dados(linhas) da tabela Produtos, .head(6).
products.head(6)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
5,41d3672d4792049fa1779bb35283ed13,instrumentos_musicais,60.0,745.0,1.0,200.0,38.0,5.0,11.0

In [9]:
#Comando para carregar o dataset com informa√ß√µes sobre os VENDEDORES especificando o formato como csv: pd.read_csv().
sellers = pd.read_csv(diretorio + 'olist_sellers_dataset.csv')

#Comando para mostrar os 8 primeiros dados(linhas) da tabela Vendedores: .head(8).
sellers.head(8)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
5,c240c4061717ac1806ae6ee72be3533b,20920,rio de janeiro,RJ
6,e49c26c3edfa46d227d5121a6b6e4d37,55325,brejao,PE
7,1b938a7ec6ac5061a66a3766e0e75f90,16304,penapolis,SP

In [10]:
#Comando para carregar o dataset com a TRADU√á√ÉO DAS CATEGORIAS especificando o formato como csv: pd.read_csv().
product_translation = pd.read_csv(diretorio + 'product_category_name_translation.csv')

#Comando para mostrar os 9 primeiros dados(linhas) da tabela Tradu√ß√£o de Categorias: .head(9).
product_translation.head(9)

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor
5           esporte_lazer                sports_leisure
6              perfumaria                     perfumery
7   utilidades_domesticas                    housewares
8               telefonia                     telephony

#Merge dos Datasets